@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Bold.ttf");
}

body {
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans";
  text-align: center;
}

.board {
  background: #bbada0;
  margin: 0 auto;
  padding: 8px;
  width: 472px;
  height: 472px;
}

.cell {
  background: rgba(238, 238, 218, 0.35);
  border: 1px solid black;
  border-radius: 3px;
  font-size: 2em;
  float: left;
  margin: 7px;
  width: 100px;
  height: 100px;
}

.cell div {
  margin-top: 28px;
}