@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Bold.ttf");
}

body {
  background: #faf8ef;
  font-family: "Clear Sans";
}

.cell {
  border: 1px solid black;
  float: left;
  width: 100px;
  height: 100px;
}